<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<!-- 	<appender class="org.apache.log4j.ConsoleAppender" name="stdout"> -->
<!-- 		<param name="File" value="/tmp/logs/papi.log" /> -->
<!-- 		<layout class="org.apache.log4j.PatternLayout"> -->
<!-- 			<param value="%d{dd-MMM-yyyy HH:mm:ss} %X{transmissionID} %5p [%t] [%c{1}] &lt;%m&gt;%n" -->
<!-- 				name="ConversionPattern" /> -->
<!-- 		</layout> -->
<!-- 	</appender> -->
	</log4j:configuration>