<style>
</style>
<link rel="stylesheet" type="text/css" href="css/home.css">
<html>
<head>
<style>
div.gallery {
    margin: 2%;
    #border: 1px solid #ccc;
    float: left;
    width: 180px;
     border: 1px solid gray;
    border-radius: 6em 1em;
}

div.gallery:hover {
    border: 1px solid #777;
     border-radius: 6em 1em;
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius:6em 1em 0em 0em;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="../images/swirl.jpg">
    <img src="images/swirl.jpg" alt="Fjords" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="../images/swirl.jpg">
    <img src="images/swirl.jpg" alt="Forest" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="../images/swirl.jpg">
    <img src="images/swirl.jpg" alt="Northern Lights" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="../images/swirl.jpg">
    <img src="images/swirl.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="../images/swirl.jpg">
    <img src="images/swirl.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="../images/swirl.jpg">
    <img src="images/swirl.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="../images/swirl.jpg">
    <img src="images/swirl.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="../images/swirl.jpg">
    <img src="images/swirl.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="../images/swirl.jpg">
    <img src="images/swirl.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="../images/swirl.jpg">
    <img src="images/swirl.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="../images/swirl.jpg">
    <img src="images/swirl.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="../images/swirl.jpg">
    <img src="images/swirl.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="../images/swirl.jpg">
    <img src="images/swirl.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="../images/swirl.jpg">
    <img src="images/swirl.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

</body>
</html>
<!-- <div class="middle"> -->
<!--     <h1> COMING SOON</h1> -->
<!--     <hr> -->
<!--    <p id="demo" style="font-size:30px"></p> -->
<!--   </div> -->
  
  <script>
// Set the date we're counting down to
// var countDownDate = new Date("Apr 12, 2018 6:37:25").getTime();

// // Update the count down every 1 second
// var countdownfunction = setInterval(function() {

//     // Get todays date and time
//     var now = new Date().getTime();
    
//     // Find the distance between now an the count down date
//     var distance = countDownDate - now;
    
//     // Time calculations for days, hours, minutes and seconds
//     var days = Math.floor(distance / (1000 * 60 * 60 * 24));
//     var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
//     var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
//     var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
//     // Output the result in an element with id="demo"
//     document.getElementById("demo").innerHTML = days + "d " + hours + "h "
//     + minutes + "m " + seconds + "s ";
    
//     // If the count down is over, write some text 
//     if (distance < 0) {
//         clearInterval(countdownfunction);
//         document.getElementById("demo").innerHTML = "EXPIRED";
//     }
// }, 1000);
</script>